@import url('https://fonts.googleapis.com/css?family=Athiti');

body, html {
  font-family: 'Athiti', sans-serif !important;
  /*background-image: url("assets/image/bg1.jpg");*/
  background: url(assets/image/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
